h1 {
    background: red;
}

.paragraph-1{
    background: pink;
    font-size: 32pt;
    color: green;
}

.paragraph-2{
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 100 px;
    margin-left: 100px;
    padding-bottom: 60px;
    padding-left: 60px;
}

.paragraph-3{
    border: 2px solid black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 24pt;
    font-style: oblique;
    text-align: center;
    box-shadow: 10px 5px 5px green;
}